label,
input,
a,
img
{
    cursor: pointer;
}

.category:hover
{
    color: red;
    transform: scale(1.4);
    font-family: Arial, Helvetica, sans-serif;
}

.hidden-checkbox,
.card span.only-list-visible
{
    display: none;
}

.checkbox-image
{
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(pictures/horizontal-view.svg);
}

.hidden-checkbox:checked ~ .checkbox-image
{
    width: 25px;
    height: 25px;
    background-image: url(pictures/grid-view.svg);
}

.blog
{
    text-align: center;
}

.hidden-checkbox:checked ~ .blog .card
{
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.card
{
    margin: 15px;
    display: inline-block;
    width: 500px;
    height: 800px;
    border: 5px solid orange;
}

.hidden-checkbox:checked ~ .blog .card span
{
    display: inline;
}

.card a
{
    text-decoration: none;
    color: black;
}

.card a:hover
{
    text-shadow: 2px 2px 2px gray;
    color: green;
    font-weight: bold;
}

.card img
{
    margin-top: 15px;
    width: 95%;
    height: 60%;
    border-radius: 70%;
}

.card img:active
{
    transform: scale(1.4);
    border-radius: 0%;
}

.card img:hover
{
    filter: brightness(1.2);
}

.card p
{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    overflow: hidden;
    height: 28%;
    font-size: 20px;
    text-align: left;
}

.card:hover
{
    box-shadow: 5px 3px 4px 2px gray;
}

.card h1
{
    margin-left: 5%;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 30px;
    text-align: left;
}
